* {
    font-family: Arial, Helvetica, sans-serif;
    /* default for most sites is for the page to start with 0 marging and padding */
    margin: 0;
    padding: 0%;
    /* border-box makes the size be equal to whatever height and width you have given an element */
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calculator-body {
    background-color: rgb(47, 47, 47);
    margin: 150px auto;
    
    width: 500px;
    height: 400px;
}
.calculator-body .buttons {
    height: 320px;
    width: 500px;
    margin: 0  auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
}
.calculator-body h1{
    text-align: right;
    padding: 10px;
    margin: 10px;
    background-color: #b2b9b7;
}

button{
    background-color: #217c7e;
    height: 60px;
    width: 120px;
    font-size: 32px;
    margin: 1px;
}

 .clear {
    
    width: 500px;
    margin:  0 10px;
}

.clear, .operand {
    background-color: #ff9100;
}